html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/tkdbackground.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  background-color: grey;
  background-attachment: fixed;
}
label {
  font-size: 20px;
}
.number_label {
  font-size: 15px;
}

form {
  padding: 20px;
  margin: 100px;
}

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  color: grey;
  text-align: center;
}
hr.style-eight:after {
  content: "12345678";
  color: transparent;
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
form button,
form h5 {
  margin: 10px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: teal;
  box-shadow: 3;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: teal !important;
}
